# Compiled binaries
*.o
*.out
*.exe
a.out

# Ignore all files in c/ recursively, whitelist only source files
c/**
!c/**/
!c/**/*.c

cpp/**
!cpp/**/
!cpp/**/*.cpp
!cpp/**/*.h

JAVA/**
!JAVA/**/
!JAVA/**/*.java
!JAVA/**/*.class